<div class="container">
    <div id="callToAction" class="clearfix">
        <div>
            <div>
                <h2>Want to see what other users are up to?</h2>
            </div>
            <div>
                Have a look see
                <router-link to="/events">here</router-link>
            </div>
        </div>
        <div>
            <div>
                <h2>Want to get in on this sick action?</h2>
            </div>
            <div>
                Add your own event
                <router-link to="/addevent">here</router-link>
            </div>
        </div>
    </div>
</div>